extends layout

block content
  div#account_body.container-fluid
    - var names = user.name.split(" ");
    - var firstName = names[0];
    div.row
      h3.col-lg-2.col-md-2.col-sm-2.col-xs-2 Welcome, #{firstName}!
      a.col-lg-2.col-md-2.col-sm-2.col-xs-2(href = "/logout" style = "float:right;font-size:120%;").btn Logout

    
