extends layout

block content
  link(href = '/css/admin_page.css' rel = 'stylesheet')
  div.container-fluid
    div.row
      include header.pug
  include bookings_table.pug
  div#cancel-modal.modal.fade(role = "dialog")
    div.modal-dialog
      div.modal-header
        button(type = "button" data-dismiss="modal").close &times;
        h4.modal-title(style = "color:white; font-size:150%") Are you sure you want to cancel this booking?
      div.modal-body 
        div#booking(style = "color:white; font-size:130%;")
      div.modal-footer 
        button(type = "button")#cancelBtn.btn.btn-default.btn-info Cancel booking
        button(type = "button" data-dismiss = "modal").btn.btn-default.btn-danger Go back
  script(src = "/scripts/admin_cancel_bookings.js")
