extends layout

block content
  .container-fluid
    table.table.table-bordered
      thead
        tr
          th Times
          each day in days
            th=day
        tbody
          each time in times
            tr
              td=time
              
          
