doctype
html
  head
    title IDEAS Hub Booking System
    link(href = '/css/style.css' rel = 'stylesheet')
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
  .container-fluid
    table.table.table-bordered.table-responsive.table-striped(style = "border: 2px solid #6F7C7D;font-size:150%;")
      thead
        tr
          th Times
          each day in days
            th=day
        tbody
          each time in times
            tr
              td=time
              each day in days
                td
        
        
  script(src = "/bower_components/jquery/dist/jquery.js")
  script(src = "/bower_components/bootstrap/dist/js/bootstrap.js")
  script(src = "/scripts/populate_bookings.js")
  script(src = "/scripts/make_bookings.js")


    
          
