extends layout

block content
  .container-fluid(style = "position:relative; height:70%;")
    if message.length > 0
      div.alert.alert-danger.alert-dismissable
        a(href = "#" data-dismiss = "alert" aria-label = "close").close &times;
        strong=message
        
    include bookings_table.pug
    .row
        
        a.btn.btn-block.btn-primary(href = "/auth/google" style = "margin-top:50px;").col-lg-8 Sign in with UWCSEA e-mail
