doctype
html
  head
    title IDEAS Hub Booking System
    link(href = '/css/style.css' rel = 'stylesheet')
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src ="https://use.fontawesome.com/09e88108a5.js")
  .jumbotron IDEAS Hub Booking System
  block content
    br
    hr
    footer
      IDEAS Hub
script(src = "/bower_components/jquery/dist/jquery.js")
script(src = "/bower_components/bootstrap/dist/js/bootstrap.js")
  
